/* -------------------- Overall -------------------------  */
   *{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    cursor: url('img/cursor_black_30x30.svg'), auto;	
    font-size: 2vw;
}



.navbar {
	height: 15vh;
	overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
	/*background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%); */
	z-index: 1;
}

.navbar a {
  display: block;
  color: #000;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 1.7em;

}

@media screen and (min-width: 1000px) {
  .navbar a {
  font-size: 1.3em;
  }
}


.logo
{
  float: left;
  text-align: left;
  width: 45%;
  animation: fadeInLeft;
  animation-duration: 2s;

}

.links
{
  float: left;
  text-align: right;
  width: 55%;
  animation: fadeInRight;
  animation-duration: 2s;
}


  .wrapper { 
  height:100%;
}

  .hero { 
   position: relative;
   margin-bottom: 4vw;
   width: 100%;
     animation: fadeIn;
  animation-duration: 3s;
}

  .video { 
   max-width: 100%;
}


.hero a {
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  font-size: 3em;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.text {
      width:92vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  max-width: 1600px;
  margin: 0 auto;

}

p {
  color: #000;
  font-family: 'Space Mono', monospace;
  font-size: 1.8em;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

@media screen and (min-width: 1000px) {
  p {
  font-size: 1em;
  }
}

body:after {
  display: none;
  content: "bp-small"
}

video {
  max-width: 100%;
}

@media (min-width: 700px) {
   body:after {
    content: "bp-medium"
  }
}

@media (min-width: 1300px) {
   body:after {
    content: "bp-large"
  }
}


/* -------------------- Footetr -------------------------  */

  .footer { 
  	width: 100%;
  	margin: 0 auto;
  	padding-top: 8vw;
  	padding-bottom: 8vw;
  	text-align: center;
}

@media screen and (min-width: 1000px) {
  .footer {
  	width: 100%;
  	float: left;
  	padding-left: 2%;
 	padding-right: 2%;
 	padding-bottom: 8vw;
 	padding-top: 8vw;
 	text-align: center;
		}
}

/* -------------------- Startpage -------------------------  */

  .case { 
  	width: 92%;
  	margin: 0 auto;
  	padding-top: 4%;
  	padding-bottom: 4%;
    transition: box-shadow 1s;
}

@media screen and (min-width: 1000px) {
  .case {
  	width: 46%;
  	float: left;
  	padding-left: 2%;
 	padding-right: 2%;
 	padding-bottom: 4%;
 	padding-top: 0%;
		}
}
   
  .case img{ 
  	cursor: url('img/cursor_white_30x30.svg'), auto;	
}

  .case img:hover{ 
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}

/*.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/



/* -------------------- Case page -------------------------  */



.full {
  float: left;
  width:96%;
  padding: 2%;
}

.square {
  float: left;
  width:46%;
  padding: 2%;
}

.oneonethreetwo {
  float: left;
  width:36.8%;
  padding: 2%;
}

.threetwooneone {
  float: left;
  width:55.2%;
  padding: 2%;
}

.threetwothreetwo {
  float: left;
  width:96%;
  padding: 2%;
}

@media (min-width: 600px) {
  .threetwothreetwo {
  float: left;
  width:46%;
  padding: 2%;
  }
}

.nopadding { 
padding-right: 0%;
padding-left: 0%;
width: 100%;
}


